@media only screen and (min-width: 481px) and (max-width: 768px) {

    /* HEADER START HERE */
    .header {
        position: relative;
        z-index: 1;
        background-color: #fdfdfe;
    }

    .header::before {
        content: '';
        position: absolute;
        height: 14%;
        width: 100%;
        z-index: -1;
        background-image: url(images/headerBuildingBg.png);
        background-size: cover;
        background-repeat: no-repeat;
        bottom: 0px;
        left: 0;
    }

    .header {
        position: relative;
        z-index: 1;
        height: 500px;
    }

    .header::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 70%;
        z-index: -1;
        background-image: url(images/headerDottedBg.png);
        background-size: cover;
        background-repeat: no-repeat;
        left: 10px;
        top: 130px;
    }

    .header2::after {
        content: '';
        position: absolute;
        z-index: 2;
        width: 34%;
        height: 67%;
        background-image: url(images/onestMobileImg.png);
        background-size: cover;
        background-repeat: no-repeat;
        right: 8px;
        bottom: 60px;
        border-radius: 30px;

    }

    .logo {
        margin-top: 18px;
        margin-left: 16px;
    }

    .logo .logoimg img {
        width: 100%;
    }

    .navmenu {
        text-align: right;
        margin-top: 11px;
        margin-left: 40px;
        width: 50%;
    }

    .navmenu ul li {
        display: inline-block;
    }

    .navmenu ul li a {
        margin: 0px 2px 0px 0px;
        color: #242f51;
        font-size: 10px;
        font-family: 'Poppins';
        text-decoration: none;
        list-style: none;
    }

    .navmenu ul li a:hover {
        color: #feaa25;

    }

    .button {
        margin-top: 10px;
        background-color: #2500f9;
        border-radius: 40px;
        margin-right: 25px;
        padding: 5px 10px;


    }

    .button a {
        text-decoration: none;
        font-size: 10px;
        font-weight: bold;
        color: #f2f1ff;
        border-radius: 20px;
    }

    .button:hover {
        box-shadow: 0px 0px 10px #9d9d9d;
    }


    .bannerarea {
        margin-top: 60px;

    }

    .headerbanner {
        position: relative;
        content: "";
        padding-top: 70px;
    }

    .bannerlogo {
        position: absolute;
        content: "";
        margin-left: -5px;
        margin-top: 3px;
    }

    .bannerlogo img {
        width: 120%;
    }

    .bannertext {
        margin-left: -7px;
        background-color: #e2eaed;
        display: inline-block;
        padding: 0px 10px;
        border-radius: 50px;
        padding-bottom: 4px;
    }

    .bannertext a {
        text-decoration: none;
        font-size: 10px;
        margin-left: 20px;
    }

    .banner2text h1 {
        margin-left: 0px;
        margin-top: 15px;
        font-size: 20px;
        color: #242f51;
    }

    .banner2text p {
        margin-left: 0px;
        margin-top: 10px;
        font-size: 10px;
        color: #68696e;

    }

    .bannerbuttons {
        margin-top: 20px;
        margin-left: 0px;
        padding-bottom: 20px;
        padding-bottom: 230px;
    }

    .bannerbuttons .b1 {
        background-color: #2500f9;
        padding: 10px 15px;
        text-decoration: none;
        margin-right: 15px;
        border-radius: 35px;
        color: #f2f1ff;
        font-size: 10px;
        font-weight: bold;
    }

    .bannerbuttons .b2 {
        text-decoration: none;
        font-size: 10px;
    }

    .bannerbuttons .b1:hover {
        box-shadow: 0px 0px 10px #9d9d9d;
    }


    .bannerbuttons .b2:hover {
        color: #feaa25;
    }

    /* HEADER ENDS HERE */

    /* TRUST START HERE */
    .trustedhead {
        text-align: center;
        margin-top: 50PX;
        background-color: #ffffff;
    }

    .trustedhead a {
        text-decoration: none;
        font-size: 25px;
        color: #848a9c;
    }

    .trustedimg {
        margin-top: 45px;
        margin-left: 27px;

    }

    .trustedimg .img {
        padding-top: 15px;
    }

    .trustedlogo {
        margin-right: 20px;
        width: 15%;
    }

    .trustedlogo img {
        width: 90%;
    }

    /* TRUST ENDS HERE */

    /* AWESOME START HERE */
    .awesomearea {
        width: 100%;
        margin-top: 120px;
        background-color: #ffffff;

    }

    .awesome2 {
        margin-right: 5px;
    }


    .awesome1 {
        width: 50%;
    }

    .awesome1 img {
        width: 105%;
    }

    .awesome2 h1 {
        font-size: 15px;
        margin-bottom: 10px;
        color: #242f51;
    }

    .awesome2 p {
        font-size: 8px;
        margin-bottom: 12px;
        color: #68696e;

    }


    .awesomecard1 img {
        margin-top: 5px;
        width: 60%;

    }

    .awesomecard2 img {
        margin-top: 5px;
        width: 60%;

    }

    .awesomecard3 img {
        margin-top: 5px;
        width: 60%;

    }

    .cardtext1,
    .cardtext2,
    .cardtext3 {
        margin-left: 0px;
    }

    .cardtext1,
    .cardtext2,
    .cardtext3 h3 {
        font-size: 10px;
    }

    .cardtext1 a {
        text-decoration: none;
        color: #f55a6a;
    }

    .cardtext1 p {
        margin-top: 5px;
        font-size: 8px;
        color: #68696e;
    }


    .cardtext2 a {
        text-decoration: none;
        color: #5282ff;
    }

    .cardtext2 p {
        margin-top: 5px;
        font-size: 8px;
        color: #68696e;

    }

    .cardtext3 a {
        text-decoration: none;
        color: #40975f;
    }

    .cardtext3 p {
        margin-top: 5px;
        font-size: 8px;
        color: #68696e;

    }

    /* AWESOME ENDS HERE */

    /* SMART START HERE */
    .smartarea {
        margin-top: 200px;
        background-color: #ffffff;
        width: 100%;

    }

    .smart1 {
        width: 45%;
        padding-left: 30px;
        padding-top: 35PX;
    }

    .smart1 h1 {
        font-size: 15px;
        text-align: justify;
        color: #242f51;
    }

    .smart2 {
        width: 55%;
        margin-top: 25px;
        border-left: 1px solid #e8e8e7;


    }

    .smart2 p {
        text-align: justify;
        padding: 30px;
        font-size: 8px;
        color: #68696e;
    }

    .smartarea2 {
        margin-top: 80px;
        margin-left: 20px;
        width: 100%;
    }

    .smartarea2 .card1 {
        width: 30%;
        padding-left: 10px;
    }

    .smartarea2 .card2 {
        width: 30%;
        padding-left: 10px;


    }

    .smartarea2 .card3 {
        width: 30%;
        padding-left: 10px;

    }

    .smartarea2 .card1 img {
        width: 20%;
        margin-bottom: 5px;
    }

    .smartarea2 .card2 img {
        width: 20%;
        margin-bottom: 5px;
    }

    .smartarea2 .card3 img {
        width: 20%;
        margin-bottom: 5px;
    }

    .smartarea2 .card1 a h2 {
        text-decoration: none;
        color: #f55a6a;
        font-size: 11px
    }


    .smartarea2 .card2 a h2 {
        text-decoration: none;
        color: #5282ff;
        font-size: 11px
    }

    .smartarea2 .card3 a h2 {
        text-decoration: none;
        color: #40975f;
        font-size: 11px;

    }

    .smartarea2 .card1 p {
        font-size: 8px;
        margin-top: 5px;
        color: #68696e;

    }

    .smartarea2 .card2 p {
        font-size: 8px;
        margin-top: 5px;
        color: #68696e;

    }

    .smartarea2 .card3 p {
        font-size: 8px;
        margin-top: 5px;
        color: #68696e;

    }

    /* SMART ENDS HERE */

    /* DESIGN START HERE */

    .designarea {
        margin-top: 80px;
        background-color: #ffffff;

    }

    .design1 img {
        width: 90%;
    }

    .design1 {
        margin-left: 0px;
        width: 50%;
    }

    .design2 {
        margin-left: 0px;
        margin-top: 15px;
    }

    .design2 a {
        text-decoration: none;
        font-size: 7px;
        color: #263052;
    }

    .design2 p {
        font-size: 8px;
        margin-top: 6px;
        color: #68696e;

    }

    .design2 .Designbutton {
        margin-top: 10px;

    }

    .design2 .Designbutton a {
        color: #f2f1ff;
        background-color: #2500f9;
        padding: 10px 22px;
        font-size: 7px;
        border-radius: 35px;
        font-weight: bold;

    }



    .design2 .Designbutton a:hover {
        box-shadow: 0px 0px 10px #9d9d9d;

    }

    /* DESIGN ENDS HERE */

    /* WHY START HERE */
    .whyarea {
        margin-top: 30px;
        background-color: #ffffff;
        width: 100%;

    }

    .why1 h1 {
        font-size: 20px;
        color: #242f51;
    }

    .why1 p {
        font-size: 9px;
        margin-top: 15px;
        color: #68696e;
    }

    .why2 {
        margin-top: 100px;
    }

    .why1,
    .why2,
    .why3 {
        text-align: center;
        margin-top: 30px;
    }


    .why2 .whycard1,
    .whycard2,
    .whycard3 {
        width: 30%;
        margin-left: 12px;

    }


    .why3 .whycard4,
    .whycard5,
    .whycard6 {
        width: 30%;
        margin-left: 12px;
        margin-top: 15px;
    }


    .why2 .whycard1 a img {
        width: 20%;
        margin-bottom: 5px;
    }

    .why2 .whycard2 a img {
        width: 20%;
        margin-bottom: 5px;

    }

    .why2 .whycard3 a img {
        width: 20%;
        margin-bottom: 5px;
    }

    .why3 .whycard4 a img {
        width: 20%;
        margin-bottom: 5px;
    }

    .why3 .whycard5 a img {
        width: 20%;
        margin-bottom: 5px;

    }

    .why3 .whycard6 a img {
        width: 20%;
        margin-bottom: 5px;

    }

    .why2 .whycard1 h2 {
        font-size: 12px;
        color: #242f51;
    }

    .why2 .whycard1 p {
        font-size: 8px;
        margin-top: 5px;
        color: #68696e;

    }

    .why2 .whycard2 h2 {
        font-size: 12px;
        color: #242f51;

    }

    .why2 .whycard2 p {
        font-size: 8px;
        margin-top: 5px;
        color: #68696e;


    }

    .why2 .whycard3 h2 {
        font-size: 12px;
        color: #242f51;

    }

    .why2 .whycard3 p {
        font-size: 8px;
        margin-top: 5px;
        color: #68696e;


    }

    .why3 .whycard4 h2 {
        font-size: 12px;
        color: #242f51;

    }

    .why3 .whycard4 p {
        font-size: 8px;
        margin-top: 5px;
        color: #68696e;

    }

    .why3 .whycard5 h2 {
        font-size: 12px;
        color: #242f51;

    }

    .why3 .whycard5 p {
        font-size: 8px;
        margin-top: 5px;
        color: #68696e;


    }

    .why3 .whycard6 h2 {
        font-size: 12px;
        color: #242f51;

    }

    .why3 .whycard6 p {
        font-size: 8px;
        margin-top: 5px;
        color: #68696e;


    }

    /* WHY ENDS HERE */

    /* ULTIMATE START HERE */
    .ultimatearea {
        margin-top: 130px;
        background-color: #ffffff;
    }

    .ultimate1 {
        margin-left: 0px;
        width: 60%
    }

    .ultimate2 {
        width: 40%;
    }

    .ulti1 h1 {
        font-size: 18px;
        color: #242f51;

    }

    .ulti1 p {
        margin-top: 8px;
        font-size: 8px;
        margin-bottom: 30px;
        color: #68696e;
    }

    .ulti1,
    .ulti2,
    .ulti3 {
        margin-left: 0px;

    }

    .ultitext1 img {
        width: 15%;
        margin-bottom: 5px
    }

    .ultitext1,
    .ultitext2,
    .ultitext3,
    .ultitext4,
    h2 {
        font-size: 12px;
        color: #242f51;

    }

    .ultitext1 p {
        font-size: 8px;
        color: #68696e;

    }

    .ultitext2 img {
        width: 15%;
        margin-bottom: 5px
    }

    .ultitext2 p {
        font-size: 8px;
        color: #68696e;

    }

    .ultitext3 img {
        width: 15%;
        margin-bottom: 5px
    }

    .ultitext3 p {
        font-size: 8px;
        color: #68696e;

    }

    .ultitext4 img {
        width: 15%;
        margin-bottom: 5px
    }

    .ultitext4 p {
        font-size: 8px;
        color: #68696e;

    }

    .ultitext1,
    .ultitext2,
    .ultitext3,
    .ultitext4 {
        margin-right: 15px;
        margin-bottom: 20px;
    }

    .ultimate2 a img {
        width: 100%;
        margin-top: 50px;
    }

    .ultimate1 button {
        padding: 10px 30px;
        border-radius: 30px;
        background-color: #2500f9;
        color: #f2f1ff;
        margin-left: 0px;
        margin-bottom: 5px;
        border: none;
        font-size: 13px;
        font-weight: bold;

    }

    .ultimate1 button:hover {
        box-shadow: 0px 0px 10px #9d9d9d;
    }

    /* color: #feaa25; */

    /* ULTIMATE ENDS HERE */

    /* GET START HERE */
    .getarea {
        margin-top: 80px;
        background-color: #ffffff;

    }

    .get1 {
        text-align: center;

    }

    .get1 h1 {
        font-size: 20px;
        color: #242f51;

    }

    .get1 p {
        font-size: 10px;
        color: #68696e;

    }

    .get2 {
        position: relative;
        content: "";
    }

    .get2 .btn1 {
        position: absolute;
        content: "";


    }


    .get2 {
        margin-left: 100px;
        margin-top: 30px;
    }

    .get2 .btn1 {
        background-color: #2500f9;
        border-radius: 50px;
        padding: 5px 20px;
        margin-top: 4px;
        margin-left: 4px;
    }

    .get2 .btn2 {
        border-radius: 50px;
        padding-top: 10px;
        padding-bottom: 6px;
        padding-left: 180px;
        padding-right: 35px;
        border: 1px solid #e0e1e1;

    }

    .get2 .btn1 a {
        text-decoration: none;
        color: #f2f1ff;
        font-weight: bold;
    }

    .get2 .btn2 a {
        text-decoration: none;
    }

    .get2 .btn1:hover {
        box-shadow: 0px 0px 10px #9d9d9d;

    }

    .getcard1 {
        text-align: center;
        margin-left: 15px;
        margin-top: 45px;
        margin-right: 0px;
        margin-bottom: 5px;
    }

    .getcard2 {
        text-align: center;
        margin-top: -352px;
        margin-bottom: 5px;
        margin-left: 255px;
    }

    .getcard1,
    .getcard2 h1 {
        color: #242f51;
    }

    .getcard1,
    .getcard2 h3 {
        color: #242f51;
    }

    .gcard1 p {
        color: #68696e;

    }

    .gcard2 p {
        color: #68696e;

    }

    .getcard1:hover {
        box-shadow: 0px 0px 10px #9d9d9d;

    }


    .getcard2:hover {
        box-shadow: 0px 0px 10px #9d9d9d;

    }



    .gcard1 {
        background-color: #f5f7f9;
        border: 1px solid #e0e1e1;
        padding: 15px;

    }

    .gcard2 .btn3 {
        background-color: #2500f9;
        border-radius: 30px;
        margin-top: 20px;
        display: inline-block;
        padding: 5px 20px;
    }

    .gcard2 .btn3 a {
        text-decoration: none;
        color: #f2f1ff;
        font-weight: bold;
    }

    .gcard2 {
        font-size: 15px;
        line-height: 30px;
        padding: 15px;
        border: 1px solid #e0e1e1;
    }

    .gcard2 .btn3:hover {
        box-shadow: 0px 0px 10px #9d9d9d;

    }

    /* GET ENDS HERE */

    /* MEET START HERE */
    .meetaraea {
        margin-bottom: 150px;
        background-color: #ffffff;

    }

    .meet1 {
        background-image: url(images/map.png);
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        content: "";
        height: 295px;
        width: 100%;
        margin-top: 100px;
    }

}

.mimg2 {
    position: absolute;
    content: "";
    background-image: url(images/oir-Cliant3.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    left: 100px;
}

.mimg3 {
    position: absolute;
    content: "";
    background-image: url(images/oir-Cliant6.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 45px;
    height: 44px;
    left: 280px;
    top: 10px;
}

.mimg4 {
    position: absolute;
    content: "";
    background-image: url(images/oir-Cliant1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    left: 15px;
    top: 80px;
}

.mimg5 {
    position: absolute;
    content: "";
    background-image: url(images/oir-Cliant4.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    left: 200px;
    top: 100px;
}

.mimg6 {
    display: none;
}

.mimg7 {
    position: absolute;
    content: "";
    background-image: url(images/oir-Cliant2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    left: 30px;
    top: 200px;
}

.mimg8 {
    position: absolute;
    content: "";
    background-image: url(images/oir-Cliant7.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    left: 300px;
    top: 170px;
}

.mimg9 {
    position: absolute;
    content: "";
    background-image: url(images/oir-Cliant5.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    left: 150px;
    top: 200px;
}

.meet2 {
    margin-right: 30px;
    line-height: 30px;
    width: 100%;
    margin-top: 50px;
    float: left;
    text-align: center;

}

.meet2 h1 {
    font-size: 20px;
    color: #242f51;

}

.meet2 p {
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #68696e;
    line-height: 15px;

}

.meet2 img {
    margin-bottom: 5px;
}

.meet2 h2 {
    font-size: 15px;
    color: #242f51;
}

.meet2 .client2 {
    margin-right: 100px;
}

.meet2 .client img {
    margin-top: 5px;
    margin-left: 110px;
}

.meet2 .client .client1 p {
    margin-top: 0px;
    color: #68696e;

}

.meet2 .client .client1 {
    margin-left: 20px;
}

.meet2 .client2 {
    margin-top: 10px;
}

/* MEET ENDS HERE */

/* FREQUIENTLY START HERE */
.frequentlyarea {
    background-color: #ffffff;

    text-align: justify;
}

.ftext1 {
    text-align: center;
}

.ftext1 h1 {
    font-size: 22px;
    color: #242f51;

}

.ftext1 p {
    margin-top: 15px;
    line-height: 30px;
    color: #68696e;
    font-size: 11px;


}

.ftext2 {
    margin-left: 10px;
    background-color: #f5f7fa;
    width: 465px;
    height: 150px;
    margin-top: 50px;
    padding-top: 20px;
    padding-left: 30px;
    border-radius: 5px;
    color: #242f51;

}

.ftext2 h3 {
    font-size: 12px;
}

.ftext2 p {
    font-size: 8px;
    margin-top: 10px;
    line-height: 20px;
    color: #68696e;

}

.ftext3 {
    margin-left: 10px;
    background-color: #f5f7fa;
    width: 465px;
    height: 50px;
    margin-top: 20px;
    padding-left: 25px;
    padding-right: 0px;
    border-radius: 5px;

}

.ftext3 h3 {
    display: inline-block;
    margin-top: 10px;
    color: #242f51;
    font-size: 12px;

}

.ftext3 a {
    padding-right: 20px;

}

.ftext3 a img {
    width: 140%;
    margin-top: 10px;
}

.ftext4 {
    margin-left: 10px;
    background-color: #f5f7fa;
    width: 465px;
    height: 50px;
    margin-top: 20px;
    padding-left: 25px;
    padding-right: 0px;
    border-radius: 5px;



}

.ftext4 h3 {
    display: inline-block;
    margin-top: 10px;
    color: #242f51;
    font-size: 12px;

}

.ftext4 a {
    padding-right: 20px;

}

.ftext4 a img {
    width: 140%;
    margin-top: 10px;
}


.ftext5 {
    margin-left: 10px;
    background-color: #f5f7fa;
    width: 465px;
    height: 50px;
    margin-top: 20px;
    padding-left: 25px;
    padding-right: 0px;
    border-radius: 5px;



}

.ftext5 h3 {
    display: inline-block;
    margin-top: 10px;
    color: #242f51;
    font-size: 12px;

}

.ftext5 a {
    padding-right: 20px;

}

.ftext5 a img {
    width: 140%;
    margin-top: 10px;
}

.ftext6 {
    margin-left: 10px;
    background-color: #f5f7fa;
    width: 465px;
    height: 50px;
    margin-top: 20px;
    padding-left: 25px;
    padding-right: 0px;
    border-radius: 5px;



}

.ftext6 h3 {
    display: inline-block;
    margin-top: 10px;
    color: #242f51;
    font-size: 12px;

}

.ftext6 a {
    padding-right: 20px;

}

.ftext6 a img {
    width: 140%;
    margin-top: 10px;
}


/* FREQUIENTLI ENDS HERE */

/* DOWNLOAD START HERE */
.downloadarea {
    background-color: #ffffff;
    position: relative;
    content: "";
    margin-top: 50px;
    padding-top: 40px;
    border-top: 1px solid #e0e1e1;
}

.down1 {
    position: absolute;
    width: 60%;
    padding-left: 15px;
}

.down1 h1 {
    font-size: 20px;
    color: #242f51;
}

.down1 p {
    font-size: 6px;
    margin-top: 20px;
    color: #68696e;

}

.down1 a img {
    margin-top: 30px;
    width: 40%;
    margin-right: 18px;
}

.down2 {
    width: 40%;
    margin-top: 36px;
    margin-left: 222px;
}

.down2 img {
    width: 135%;
}

/* DOWNLOAD ENDS HERE */

/* FOOTER START HERE */
.footerarea {
    background-color: #09142e;
    position: absolute;
    content: "";
    width: 100%;
    margin-top: 165PX;
}

.footer1 {
    margin-left: 230px;
}

.footer1 img {
    width: 50%;
}

.footer2 {
    text-align: center;
}

.footer2 a img {
    width: 20%;
    margin-top: 40px;
}

.footer2 ul li a {
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
}

.footer2 ul li a:hover {
    color: #feaa25;
}

.footer2 ul li {
    display: inline-block;
    padding-right: 20px;
    cursor: pointer;

}

.footer2 ul li img:hover {
    background-color: #feaa25;
    border-radius: 50px;
}

.footer2 ul {
    margin-top: 30px;
}

.footer2 p {
    color: #9d9d9d;
    margin-top: 80px;
    margin-bottom: 20px;
}

/* FOOTER ENDS HERE */

}